<div class="story-body">
  <p>"Prevention through Deterence" remained the main USBP strategy until 2002, when border security was placed under the the Department of Homeland Security. Critics argue that the concept of "prevention of deterence remains." In 2018, 127 migrant remains were found in just one counTy in Arizona.</p>
  <!-- If you use images, the path is just images/___ -->
  
  
</div>

