<div class="story-body">
  <p>The goal was that open areas areas would difficult-- and dangerous-- to pass through, forcing people to stop trying to cross the border. Border crossings did decrease, but thousands still tried to get through, this time trekking over the "hostile terrain." As a results, migrant deaths increased exponentially. While no one could have predicted the death rate before implemention of the policy, it remained in place after the death toll became obvious.</p>
  <!-- If you use images, the path is just images/___ -->
  
  
</div>

