<div class="story-body">
  <p>DATA AND GRAPHICS REPRODUCED FROM  <a href="https://www.nytimes.com/interactive/2019/05/29/opinion/migrant-crisis.html">THE NEW YORK TIMES</a></p>
  <p>In 1994, President Bill Clinton implemented a new United States Border Patrol plan, expanding the USBP's budget and manpower to larger than it had ever been before. The main element in this plan was known as "Prevention through Deterence." Thousands of people were attempting to cross from Mexico to America at cities along the border. This new strategy focused border control security and resources at these key cities seen as "easy entry points."</p>
  <p> Much of the land along the Southern Bordern is sparsely populated desert-like terrain. The idea behind "Prevention Through Deterence" was to make the populated cities too gaurded to enter, leaving only the unihabited parts of the border unsecure. The original document states "with traditional entry and smuggling routes disrupted, illegal traffic will be deterred, or forced over more hostile terrain... illegal entrants crossing through remote, uninhabited expanses of land and sea along the border can find themselves in mortal danger.” </p>
  <!-- If you use images, the path is just images/___ -->
  
  
</div>

