<div class="story-body">
  <p>The money is broken down into two categories: contracts and monetary gifts. "Monetary gifts" are simply money given to the institution, whereas contracts are money given for a specific purpose (as stipulated by the contract). Universities have contracts with entities for many reasons: American universities will develop branches in other countries, entities will fund institutes within the university focusing on a specific area of study or research, any court-ordered payments would be considered contracts. Monetary gifts are any funds given to the university without a legally-binding agreement-- these can often be money given by individuals or alumni. </p>
  <p>Looking at the more darkly shaded areas of the map gives a sense of which countries give more money and which countries give less money. The donations from the specific countries being investigated by the Eduaction Department do seem to be giving more money at first glance. But are they giving the most?</p>
  <!-- If you use images, the path is just images/___ -->
  
  <p></p>
</div>

