<div class="story-body">
  <p></p>
  <p>Almost 95 percent of the money from Qatar falls under the "contract" category. In particular, Qatar gives money to U.S. universities to build branches of that institution in the country. Carnegie Mellon recieves more money from Qatar than any other university.</p>
  <p> This past summer, the Education Department opened investigations about foreign funding of specific schools: Texas A&M, Carnegie Mellon, Rutgers, and Georgetown. It was the first time in recent history specific schools were investigated for something of this nature. From among these, Rutgers is the only school that is not amongs the top 50 reciepents of foreign money. </p>
</div>

