<div class="story-body">
  <p>U.S. colleges and universities are facing pressure about the influence of foreign countries on their institutions as part of the Trump Adminstration's larger immigration and foreign policies. This has presented itself in a number of ways-- increased restrictions on student visas annd more visa denials for foreign students to name a few. At the start of this year, a Palestinian student addmitted to Harvard was denied entry to the country after a Customs and Border Agents. Universities have responded in a number of ways including increased screenings for foreign nationals.  </p>
  <p> Under this broader push, the Education Department has increased scrutiny into foreign financial donations to colleges and universities. In particular, the Education Department is looking into money given by entities in Qatar, China, Russia, and Saudia Arabia. So which countries are really giving money to U.S. colleges. And what type of influence do they have?  </p>
  <h4> FINANCIAL GIFTS BY COUNTRY</h4>
  <p1>THE TOTAL AMOUNT OF MONEY GIVEN BY EACH COUNTRY TO U.S. COLLEGES AND UNIVERSITIES BETWEEN 2012 & 2018</p1>
  <!-- If you use images, the path is just images/___ -->
  
  <p></p>
</div>

