<div class="story-body">
    <h2>Accidents by Bourough</h2>
    <p>Number of bike accidents by bourough from 2012-current.</p>
    <div id="bike-1"></div>
</div>

<script src="scripts/bike-1.js"></script>