<div class="story-body">
    <h2>Lines by Character</h2>
    <p>Here are the lines of the first two Harry Potter books. They are broken down by the number of lines spoken by each character.</p>
    <div id="harry-potter"></div>
</div>

<script src="scripts/harry-potter.js"></script>