---
headline: "Google Search Trends: 2020 Democratic Presidential Candidates"
subhead: "The 2020 Presidential election is still more than a year away, yet politicians have already begun campaigning and debating. Google search trends reveal how much interest the nation has in three front-runners: Joe Biden, Bernie Sanders, and Elizabeth Warren." 
published_date: "October 2019"
author:
    name: "Humera Lodhi"
    url:  "http://humeralodhi.com/"
analytics": ""
---
<body class="navy-theme"></body>
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/candidates }}



<!-- 
  Charts are exactly the same.
-->


