---
headline: "Presidential Candidates and Google"
subhead: "The 2020 Presidential election is still more than a year away, yet politicians have already begun campaigning and debating. But from the top Democratic candidates, who are we trying to learn more about? And what does that mean?"
published_date: "October 2019"
author:
    name: "Humera Lodhi"
    url:  "http://humeralodhi.com/"
analytics": ""
---
<body class="navy-theme"></body>
<!-- 
  This line means, use default.hbs layout from src/html/layouts/
-->

{{!< default}}

<!-- 
  Put some content into an .hbs file inside of /partials, 
  and you can just throw it in anywhere!
-->

{{> story/candidates }}



<!-- 
  Charts are exactly the same.
-->


